<mat-card>
  <div>

  </div>
  <div class="buttonsDiv">
    <div>
        <button mat-button> Home</button>

    </div>
<div class="buttons">
    <button mat-button><img src="../../assets/images/juice.png" alt=""> Juice</button>
    <button mat-button><img src="../../assets/images/jam.png" alt=""> Jam</button>
    <button mat-button><img src="../../assets/images/food.png" alt=""> Food</button>
    <button mat-button><img src="../../assets/images/juice.png" alt=""> Juice</button>
    <button mat-button><img src="../../assets/images/juice.png" alt=""> Juice</button>
</div>
    
  </div>

</mat-card>