.content{
    position: relative;
    max-width: 900px;
    margin-top: 50px;
    margin:50px auto;
    img{
        width: 100%;
        height: 200px;
    }
    .trans{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(221,58,54,0.8);
        h1{
            color:white;
            font-size: 56px;
            transform: translate(-50%,-50%);
            position: absolute;
            top: 45%;
            left: 50%;
        
        };
        p{
            color:white;
            font-size: 26px;
            transform: translate(-50%,-50%);
            position: absolute;
            top: 45%;
            left: 50%;
        }
    }
}