.item{
    max-width: 900px;
    margin:auto;
    background:white;
    padding:20px 0;
.flex-item{
    display: flex;
    justify-content: space-around;
    align-items: end;
   // flex-wrap: wrap;
    position: relative;
    .img-price{
        position: relative;
    .price{
        position: absolute;
        /* right: 10px; */
        /* top: 10px; */
        font-size: 25px;
        font-weight: bold;
        right: 5px;
        top: 5px;
        background-color: #dd3a36;
        border-radius: 50%;
        padding: 8px;
        color:white;
    }
  
    } .card-img{
    width: 300px;
    margin:20px;
}
.add-div{
    text-align: right;
    .add {
    font-size: 1.1em;
    background-color: #ddd;
    color: black;
    text-decoration: none;
    padding: .35em 1em;
    border-radius: 1em;
    cursor: pointer;
    background: #dd3a36;
    color: white;
    border:none;
    margin:10px;
  }
}

}

}
