<app-header [contentCategorie]="'Yummy jam'">

</app-header>

<div class="item">
  <div class="flex-item">
 <div class="img-price">
  <img src="https://images.pexels.com/photos/48184/bun-sweets-pastries-pastry-shop-48184.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="Yummix cup cake" alt="" class="card-img">
  <span class="price">10$</span>
 </div>
  <div>
      
  <p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, cum eos. Adipisci eligendi amet doloribus nostrum, fugiat iusto maiores, labore officiis sunt at reiciendis aliquam quisquam, exercitationem temporibus hic a. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis voluptas dignissimos adipisci, ipsum beatae id suscipit quas quibusdam modi praesentium eum sapiente consequatur optio nesciunt laboriosam minima cupiditate error molestiae. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam nihil optio beatae eveniet, distinctio earum dolorem rem. Quasi, rem! Commodi consequatur accusantium, rem quaerat eveniet maxime dolores vel quas facere.
  </p>
  <div class="add-div">
    <button class="add" (click)="add(item?.id)">Add</button></div>

  </div>

  </div>
 </div>
