
<div class="item">
  <div class="flex-item">
    <span class="price">10$</span>
 
    <img src="https://images.pexels.com/photos/48184/bun-sweets-pastries-pastry-shop-48184.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="Yummix cup cake" alt="" class="card-img">
  <div>
        <h1>
    Yummy jam
  </h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam nihil optio beatae eveniet, distinctio earum dolorem rem. Quasi, rem! Commodi consequatur accusantium, rem quaerat eveniet maxime dolores vel quas facere.
  </p>
  </div>

 </div>
 
</div>