.nav-info{
    justify-content: space-around;
    display: flex;
    align-items: center;    
    background-color:rgba(256,256,256,0.3);
    .buttons {

        button {
            background:transparent;
        }
        button:hover{
            border-bottom:2px solid red;
        }
    }
    .logo-div{
        cursor: pointer;
    img{
        width: 100px;
        outline: none;

    }
}
}
