.nav-info{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1000;
    justify-content: space-around;
    display: flex;
    align-items: center;    
    background-color:rgba(256,256,256,0.3);
    transition: 1s;
    &.nav-info-scrolled{
        background-color: white!important; 
        height:60px;
    }
    .buttons {
        display: flex;
        align-items: center;
        button {
            background:transparent;
        }
        button:hover{
            border-bottom:2px solid red;
        }
    }
    .logo-div{
        cursor: pointer;
    img{
        width: 100px;
        outline: none;

    }
}
.basket-div{
    position: relative;
    p{
        position: absolute;
        width: 15px;
        height: 15px;
        background:#dd3a36;
        border-radius:50%;
        color: white;
    font-size: 11px;
    text-align: center;
    top: -15px;
    right: -17px;
    }
}
}
