.card{
    width:200px;
    margin:auto;
    border:10px;
    background-color:white;
    position: relative;
    margin:20px;
  }
  .product-title{
    font-size:22px;
    padding: 10px;
    font-weight:bold;
    text-align:center;
    cursor: pointer;
    /*This text shadow format is per as google fonts requirements*/
  }
  .product-title:hover{
    color:#dd3a36
  }
  .product-price{
   
   text-align:center;
    font-weight:bold;
    border-style:5px solid;
    font-size:20px;
     /*minimal height for the button*/
    min-height:50px;
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: #dd3a36;
    border-radius: 50%;
    color:white;
    padding: 8px;
  }
  
  .card-img{
     /*here the image will take the maximum width of the card*/
    max-width:350px;
    width:100%;
    height:auto;
    border-radius:2px;
    cursor: pointer;
  }
  .info{
     /*the product information section is displayed as a block of words*/
    display:block;
    text-align:center;
    padding-bottom: 10px;
  }

  .add {
    font-size: 1.1em;
    background-color: #ddd;
    color: black;
    text-decoration: none;
    padding: .35em 1em;
    border-radius: 1em;
    cursor: pointer;
    background: #dd3a36;
    color: white;
    border:none;
  }