<div class="card">
  <img src="{{item?.image}}" alt="Yummix cup cake" alt="" class="card-img">
<!--product and button are begins here-->
<div class="product-title"> {{ item?.title}} <br> <!-- used the <br> tag so that the product title and product line are in the same container with little white space-->
<button class="product-price">{{ item?.price}}$</button>
</div>
<!--product annd button are ends here--->
<!--information section begins here-->
<article class="info">
<p>{{item?.description}}  
</p>
</article>
</div>