<div class="main">
  <div class="tags">

<nav class="tags-nav" routerLink="/categorie/juice">
	<a class="tag-link"><img src="../../assets/images/juice.png" alt="">Juice</a>
</nav>
<nav class="tags-nav">
    <a class="tag-link"><img src="../../assets/images/jam.png" alt="">Jam</a>
  </nav>
  <nav class="tags-nav">
    <a  class="tag-link"><img src="../../assets/images/food.png" alt="">Food</a>
  </nav>
  <nav class="tags-nav">
    <a  class="tag-link"><img src="../../assets/images/juice.png" alt=""> Juice</a>
  </nav>
  <nav class="tags-nav">
    <a  class="tag-link"><img src="../../assets/images/juice.png" alt="">Potato</a>
  </nav>
 
    <nav class="tags-nav">
        <a  class="tag-link">Something</a>
      </nav>
</div>

</div>
