.main{
    max-width: 900px;
    margin: auto;
}
.tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
    margin:50px auto;
    
    .tags-nav {
        margin:  10px;
    }
.tag-link {
    font-size: 1.1em;
    background-color: #ddd;
    color:black;
    text-decoration: none;
    padding: .35em 1em;
    border-radius: 1em;
    cursor: pointer;
    background: #dd3a36;
    color: white;
}

}
