/* You can add global styles to this file, and also import other style files */
body{
    background-size:cover;
    font-family: sans-serif;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    background-color:#ecebeb;
    outline: none;
}